<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando :<strong>{{query}}</strong></p>

    {% if produc %}
        <p>Articulos encontrados: {{produc|length}} articulos</p>

    <ul>
        {% for produc in produc %}
            <li>
                {{produc.nombre}}
            </li>
            <li>
                {{produc.precio}}
            </li>
        {% endfor %}    
    </ul>
    {% else %}
        <p>No esta el producto buscado</p>

    {% endif %}

</body>
</html>